@charset "UTF-8";

/*

Version : 1.5
Author  : github.com/mauricio-tonny

*/


/*------------------------
[TABLE OF CONTENTS]

1. GLOBAL STYLES
2. NAVBAR
3. HERO
4. TABS
5. TESTIMONIALS
6. IMAGE GALLERY
7. PRICING
8. CALL TO ACTION
9. FOOTER

------------------------*/


/* GLOBAL
----------------------*/

body {
    font-family: 'Rubik', sans-serif, FontAwesome;
    position: relative;
}

a {
    color: #194756;
}

a:hover,
a:focus {
    color: #54736e;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    color: #194756;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.zz_h3 {
    color: #194756;
    font-size: 35px;
    font-weight: 500;
}

.zz_h4 {
    font-size: 20px;
    font-weight: 500;
    color: #194756;
}

.zz_5 {
    font-size: 28px;
    font-weight: 300;
    color: #194756;
    margin-bottom: 0.7rem;
}

p {
    color: #181818;
}

p.lead {
    color: #275857;
    margin-bottom: 2rem;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #54736e;
}

.btn-outline-light:after {
    content: "\f232";
    margin-left: 5px;
}

.tecnolog {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.tecnolog:hover {
    transform: scale(1.10);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.30);
    border-radius: 20%;
}

.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 122deg, #194756 0%, #92CFCD 100%);
    background-image: -webkit-linear-gradient( 122deg, #194756 0%, #92CFCD 100%);
    background-image: -ms-linear-gradient( 122deg, #194756 0%, #92CFCD 100%);
    background-image: linear-gradient( 122deg, #194756 0%, #92CFCD 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #92CFCD 0%, #194756 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transform: scale(1.1);
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #e4eff3;
}

.section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #181818;
}
.section-title.wiki {
    margin-bottom: 1.5rem;
}

.section-title .tutor {
    text-transform: uppercase;
}

.section-title.dica {
    text-align: center;
    margin: 20px 0;
}

.Twiki:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.30);
}



@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* MEGAMENU
----------------------*/

.img-fluid.logo {
    max-width: 85%;
}
.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgba(25, 71, 86, 1);
    background: -moz-linear-gradient(135deg, rgba(25, 71, 86, 1) 0%, rgba(146, 207, 205, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 71, 86, 1) 0%, rgba(146, 207, 205, 1) 100%);
    background: linear-gradient(135deg, rgba(25, 71, 86, 1) 0%, rgba(146, 207, 205, 1) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #92cfcd;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* CONTENT
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(25, 71, 86, 1) 0%, rgba(228, 239, 243, 1) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(25, 71, 86, 1) 0%, rgba(228, 239, 243, 1) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(25, 71, 86, 1) 0%, rgba(228, 239, 243, 1) 100%);
    background-image: linear-gradient( 135deg, rgba(25, 71, 86, 1) 0%, rgba(228, 239, 243, 1) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #e4eff3;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

.gradient-fill:before {
    color: #54736e;
    background: -moz-linear-gradient(top, #194756 0%, #54736e 100%);
    background: -webkit-linear-gradient(top, #194756 0%, #54736e 100%);
    background: linear-gradient(to bottom, #194756 0%, #54736e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #54736e;
    background: -moz-linear-gradient(top, #194756 0%, #54736e 100%);
    background: -webkit-linear-gradient(top, #194756 0%, #54736e 100%);
    background: linear-gradient(to bottom, #194756 0%, #54736e 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.perspective-phone {
    position: relative;
    z-index: -1;
    width: 50%;
    text-align: center;
}

.container.sobre {
    display: flex;
}

.img-fluid.sede {
    border-radius: 5%;
}

@media (max-width: 768px) {
    .perspective-phone {
        width: 100%;
    }
    .container.sobre {
        display: block;
    }

    .img-fluid.sede {
        margin-top: 10px;
    }

    .btn.btn-primary {
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        margin: 5px 10px;
    }
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #000;
    background: #92cfcd;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #194756 #faf6fb #FFF;
    color: #194756;
}


/*  QUEM SOU
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: inherit;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.testimonials-single .AboutPicture {
    width: 30%;
}

.testimonials-single .AboutDescription {
    width: 70%;
}

.owl-nav {
    display: none;
}

@media (max-width: 768px) {
    .testimonials-single {
        display: flex;
        text-align: center;
    }
    .testimonials-single .AboutPicture {
        width: 100%;
    }

    .testimonials-single .AboutDescription {
        width: 100%;
    }
    .Rt {
        flex-direction: column-reverse;
    }
    .Ms {
        flex-direction: column;
    }
}

.blockquote {
    color: #181818;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 25px;
    color: #194756;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #54736e;
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.my-footer {
    margin: 1rem 0;
}

.my-footer .mb-2 {
    margin-bottom: 0.1rem !important;
    padding-bottom: 1.5rem;
}

.zz_version {
    font-size: 11px;
    float: right;
    margin-right: 10px;
    background: #0c5460;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
    .zz_version {
        float: inherit;
        margin: 0 35%;
    }
    .my-footer {
        padding-bottom: 0rem;
    }
}